html, body{
    height: 100%;
    margin: 0;

}

*{
    box-sizing: border-box;
    font-family: 'Arial (Hebrew)', Arial;
    direction: rtl;
    text-align: right;
}

body{
    direction: rtl;
    text-align: right;
    padding: 0;
    margin: 0;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

/* ----------------------- Header + nav CSS  --------------------------- */


header{
    height: 105px;
    margin-bottom: 30px;
    background-color: #909090;
    background-image: linear-gradient(180deg,#909090 85%,#929292,#949494,#969696,#989898,#999999,
    #9A9A9A 90%,#9C9C9C,#9E9E9E,#9F9F9F,#A1A1A1,
    #A2A2A2 92.5%,#A4A4A4,#A6A6A6,#A8A8A8,#AAAAAA 95%,#ACACAC,#ADADAD,#AFAFAF,#BBBBBB 97.5%, #BBBCCC 100%);
}

header > .row{
    margin: 0 auto;
    padding: 0;
    width: 900px;
}

header > .row:first-child{
    justify-content: flex-end;
}

header > .row:first-child > div{
    margin-top: 20px;
}

header > .row:first-child > div a{
    margin: 0 0 0 15px;
    padding: 0;
    color: #fff;
    text-decoration-line: none;
    font-size: 12px;
    font-weight: 600;
}

header input{
    margin: 0 0 0 0;
    padding: 0;
    height: 19px;
    width: 135px;
    border: solid #eeeeee;
    border-radius: 0 7.5px 0 0;
    font-size: 12px;
}

header button{
    margin: 0;
    padding: 0;
    width: 19px;
    background-color:#c6cdd0;
    text-align: center;
}

.fa-search{
    color: #eeeeee;
}

.fa-home{
    color:  #005ca0;
}

header > .row:last-child{
    position: relative;
    bottom: 30%;
    align-items: flex-end;
    padding: 0;    
}
header img{
    position: relative;
    top: 20px;
    left: 7.5px;
    width: 142px;
    object-fit: cover;
}
nav{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
}

nav > ul{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

nav li{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0 ;
    padding: 0;
    border-width: 2px; 
}

nav > ul > li.dropdown{
    padding-bottom: 15px;
}

nav ul li:first-child a{
    border-left: solid #9f9f9f;
    font-size: 15px;
    color: #fff;
    padding: 0 5px 0 15px;
}

nav li.dropdown > a{
    color: white;
    align-self: center;
    text-decoration-line: none;
    display: block;
    padding: 0 15px;
    border-right: solid #aaaaaa;
    border-left: solid #9f9f9f;
}


nav li.dropdown:last-child a{
    border-left: none;
}

.dropdown a:hover{
    color: #005ca0;
    text-decoration-line: underline;
}

nav li.active{
    color: #005ca0;
}

.dropdown-ul{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #909090;
    background-image: linear-gradient(360deg,#909090 80%,#929292,#949494,#969696,#989898,#999999,
    #9A9A9A 85%,#9C9C9C,#9E9E9E,#9F9F9F,#A1A1A1,
    #A2A2A2 90%,#A4A4A4,#A6A6A6,#A8A8A8 92.5%,#AAAAAA,#ACACAC,#ADADAD 93%,#AFAFAF 94%,#BBBBBB 97%);
    padding: 0;
    margin: 0;
    margin-right: 15px;
}

.dropdown-ul li{
    border: none;
    padding: 5px;
    border-bottom: solid #aaaaaa;
    border-width: 0.1px;
}

.dropdown-ul li:hover{
    color: #005ca0;
    text-decoration-line: underline;
    background-color: #bcbcbc;
}

.dropdown:hover > .dropdown-ul{
    display: block;
}

/* ----------------------- Main CSS  --------------------------- */

main{
    margin: 0 auto;
    padding-bottom: 50px;
    width: 900px;
}


main > .row{
    width: 100%;
    padding: 0;
    margin: 15px auto;
    justify-content: space-between;
}

main .column{
    padding: 0;
    margin: 0;
    
}

main > .row:first-child > .column > .content{
    border-radius: 0 0 20px 0;
    width: 293px;
    height: 355px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
}


main > .row:first-child > .column:nth-child(1) > .content{
    background-image: url("images/images/1908364606615453350.jpg");
}

main > .row:first-child > .column:nth-child(2) > .content{
    background-image: url("images/images/Picture-046410251500.jpg");
}

main > .row:first-child > .column:nth-child(3) > .content{
    background-image: url("images/images/פזקר_-291_354410564000.jpg");
}

main > .row:first-child > .column > .content > div{
    padding: 10px 10px;
    margin: 0;
    border-radius: 0 0 20px 0;
    width: 248px;
    height: 97px;
    background-color: #808080;
    line-height: 1;
    opacity: 0.9;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fff;
}

main > .row:first-child > .column > .content > div > p:first-child{
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 5px 0 ;
    margin: 0;
}

main > .row:first-child > .column > .content > div > p:nth-child(2){
    font-weight: 400;
    font-size: 13px;
    padding: 0 0 2px 0;
    margin: 0;
}

main > .row:first-child > .column > .content > div > a{
    font-size: 13px;
    color: white;
    text-decoration-line: underline;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    bottom: 5px;
}


main > .row:last-child > .column > .content{

    align-content: center;
    border-radius: 0 20px 0 0;
    width: 293px;
    height: 216px;
    border: solid #ddd;
    border-width: 0.2px;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    background-image: linear-gradient(180deg,#ffffff,#fefefe,#fdfdfd,#fcfcfc,#fbfbfb,
    #fafafa,#f9f9f9,#f8f8f8,#f7f7f7,#f6f6f6,
    #f5f5f5 60%,#f4f4f4,#f3f3f3,#f2f2f2,#f1f1f1,#f0f0f0,#eeeeee );
    
}
main > .row:last-child > .column > .content > p{
    padding: 0 0 10px 0;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    border-bottom: solid #eee;
    width: 244px;
    align-self: center;
    border-width: 3px;
}

main > .row:last-child > .column > .content > img{
    width: 250px;
    align-self: center;
}

main > .row:last-child > .column > .content a{
    align-self: flex-end;
    padding-left: 25px;
    margin-top: 20px;
    font-size: 13px;
    color: gray;
}
main > .row:last-child > .column > .content i{
    color: gold;
    font-size: 9px;
    margin-right: 5px;
    text-align: left;
}
main > .row:first-child > .column > .content > div > a:hover,
main > .row > .column > .content a:hover,
main > .row > .column > .content a:hover > i{
    color:#005ca0;
}

main > .row:last-child > .column:last-child img{
    width: min-content;
    object-fit: cover;
    margin: -7.5px 0 0 25px;
    float: left;
}

main > .row:last-child > .column:last-child a{
    display: block;
    margin: 5px 0 5px 0;
    padding-left: 230px;
    text-align: left;
}


/* ----------------------- Footer CSS  --------------------------- */


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 38px;
    color: white;
    background-color: #909090;
    background-image: linear-gradient(360deg,#909090 70%,#929292,#949494,#969696,#989898,#999999,
    #9A9A9A 80%,#9C9C9C,#9E9E9E,#9F9F9F,#A1A1A1,
    #A2A2A2 85%,#A4A4A4,#A6A6A6,#A8A8A8,#AAAAAA 90%,#ACACAC,#ADADAD,#AFAFAF,#BBBBBB 95%);
}

footer > nav{
    width: 900px;
    margin: auto;
}

footer > nav > ul{
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

footer > nav > ul li{
    list-style: none;
    padding: 14px 0 0 0;
}

footer > nav > ul > li a{
    color: white;
    text-decoration-line: none;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    padding: 0 5px 0 5px;
    border-right: solid wheat;
    border-width: 1.6px;
}

footer > nav > ul > li:first-child a{
   border: none;
   padding: 0 0 0 5px;
}

footer > nav > ul > li:last-child a{
    color: red;
}

footer ul a:hover {
    color:#005ca0;
    text-decoration-line: underline;
}


/* ---------------------- contact page layout using another class -------------- */


/* -----------contact header ------------------- */

header.contact .fa-home{
    color:   #575757;
}


/* ------------ contact main ----------------- */

main.contact{
    display: none;
}

#formain{
    width: 900px;
    margin: 0 auto;
    display: none;
}

#formain.contact{
    display: block;
}

#formain > .row{
    width: 100%;
    padding: 0;
    margin: 15px auto;
    justify-content: space-between;
}



#formain .column:nth-child(1) a{
    display: block;
    text-align: right;
    line-height: 1;
    width: 122px;
    height: 36px;
    color: #555;
    border-top: solid lightgray;
    border-width: 1px;
    background-color: #eeeeee;
    background-image: linear-gradient(180deg,#fdfdfd,#fbfbfb,
    #f9f9f9,#f7f7f7,#f5f5f5 30%,
    #f3f3f3,#f1f1f1,#efefef, #ececec, #eaeaea, #e8e8e8, #e6e6e6 60%,
    #e4e4e4, #e2e2e2, #e0e0e0, #cecece, #cccccc );
}

#formain .column:nth-child(1) a span:first-child{
    font-size: 30px;
    margin-left: 5px;
    color: #005ca0;
}

#formain .column:nth-child(1) a span:last-child{
    font-size: 13px;
}

#formain .column:nth-child(2){
    width: 440px;
    height: 425.6px;
    padding: 0;
}

ul.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    color: gray;
    display: inline;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    margin: 0;
    padding: 0 0 0 3px;
    color: gray;
    content: ">";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    margin: 0;
    padding: 0;
    color: gray;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color:#005ca0;
    text-decoration-line: underline;
  }

#formain .column:nth-child(2) .content > p{
    font-size: 15px;
    font-weight: 700;
    color: #72716d;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px
}

#formain .column:nth-child(2) .content > div{
    box-sizing: border-box;
    width: 384.6px;
    height: 356.8px;
    border-radius: 0 20px 0 0;
    border: solid lightgray;
    border-width: 0.5px;
    padding: 12px 0;
    background-color: #eeeeee;
    background-image: linear-gradient(180deg,#ffffff,#fefefe,#fdfdfd,#fcfcfc,#fbfbfb,
    #fafafa,#f9f9f9,#f8f8f8,#f7f7f7,#f6f6f6,
    #f5f5f5 60%,#f4f4f4,#f3f3f3,#f2f2f2,#f1f1f1,#f0f0f0,#eeeeee );
}

#formain .column:nth-child(2) form{
    width: 347px;
    height: 294px;
    margin: 0 auto;
}

#formain .column:nth-child(2) form > p:first-child{
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

#formain .column:nth-child(2) form > p:nth-child(2){
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    margin: 5px 0;
}
#formain .column:nth-child(2) form > p:nth-child(3){
    color: #72716d;
    font-size: 12px;
    margin: 0 0 5px 0;
}

#formain .column:nth-child(2) form > .row{
    margin: 0 auto 5px auto;
    width: 245px;
    height: 22px;
    justify-content: space-between;
}

#formain .column:nth-child(2) form label{
    font-size: 12px;
    color: #6d6d6d;
}

#formain .column:nth-child(2) form input{
    width: 160px;
    padding: 3px;
    border: 1px solid #808992;
}

#formain .column:nth-child(2) form > .row:last-child{
    justify-content: end;
}

#formain .column:nth-child(2) form textarea{
    color: #6d6d6d;
    box-sizing: content-box;
    width: 235px;
    height: 100px;
    padding: 3px;
    border: 1px solid #808992
}

#formain .column:nth-child(3){
    width: 292px;
    padding: 60px 0 0 0;
}

#formain .column:nth-child(3) .row{
    height: 175px;
    border-radius: 0 20px 0 0;
    border: solid lightgray;
    border-width: 0.5px;
    padding: 18px 22px;
    background-color: #eeeeee;
    background-image: linear-gradient(180deg,#ffffff,#fefefe,#fdfdfd,#fcfcfc,#fbfbfb,
    #fafafa,#f9f9f9,#f8f8f8,#f7f7f7,#f6f6f6,
    #f5f5f5 60%,#f4f4f4,#f3f3f3,#f2f2f2,#f1f1f1,#f0f0f0,#eeeeee );
}

#formain .column:nth-child(3) .row .content{
    width: 100%;
    padding: 0;
}

#formain .column:nth-child(3) .row:last-child{
    margin-top: 20px;
}

#formain .column:nth-child(3) .row p:first-child{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #005ca0;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 3px;
    padding-bottom: 2px;
    line-height: 1;
}

#formain .column:nth-child(3) .row p:last-child{
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #6d6d6d;
}

#formain .column:nth-child(3) .row:last-child a{
    text-decoration: none;
    color: #005ca0;
}
#formain .column:nth-child(3) .row:last-child a:hover{
    text-decoration-line: underline;
}

#formain .column:nth-child(2) button{
    display: block;
    margin-right: 270px;
    font-size: 14px;
    color: #111;
    background-image: linear-gradient(180deg,#0fa7e9,#024f86);
    border-radius: 0 5px 0 0;
    line-height: 21px;
}

#formain .column:nth-child(2) button:hover{
    background-image: linear-gradient(180deg,#fde920,#f48f08);
}

.validate{
    font-size: 12px;
    color: red;
    margin: 0;
    margin-right: 50px;
    margin-top: -10px;
    display: none;
}

.row.invalid + .validate{
    display: block;
}

.invalid{
    margin-bottom: 0;
}



/* -------------contact footer ----------------- */
footer.contact > nav > ul > li:last-child a{
    color: white;
}
